<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Sellers</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Harry Potter and the Sorcerer's Stone</h4>
                        <h6>J.K Rowling</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">An orphaned boy enrolls in a school of wizardry, 
                                              where he learns the truth about himself, his family 
                                              and the terrible evil that haunts the magical world.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>The Hobbit</h4>
                        <h6>J.R.R. Tolkien</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Hobbit is set in Middle-earth and follows home-loving 
                                              Bilbo Baggins, the hobbit of the title, who joins the wizard 
                                              Gandalf and the thirteen dwarves of Thorin's Company, on a quest to 
                                              reclaim the dwarves' home and treasure from the dragon Smaug.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Don Quixote</h4>
                        <h6>Miguel de Cervantes</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Don Quixote portraits the life and insightful journey of Don Quixote 
                                              de la Mancha, a Spanish man who seems to be losing his mind on his quest 
                                              to become a knight and restore chivalry alongside with a farmer named Sancho Panza, 
                                              with whom he fights multiple imaginary enemies and faces a series of fantastic challenges.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>The Da Vinci Code</h4>
                        <h6>Dan Brown</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A gripping thriller that follows symbologist Robert Langdon as he unravels a 
                                              deadly conspiracy. Filled with secret codes, history, and art, it's a heart-pounding 
                                              adventure that will keep you on the edge of your seat.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>